<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel = "stylesheet" href = "css/normalize.css">
    <link rel = "stylesheet" href = "css/login.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
</head>
<body>
	<div class = "container">
		<div class = "Title">
			<img src = "img/georgia-tech-logo.jpg" style = "width:140px;">
			<br>
			<span class = "title2">Icon-Based Asthma Action Plan </span> <br />&copy; Georgia Institute of Technology
	
		</div>
			
		<div class = "login">
			<p>Log In</p>
		</div>


		<form method = "" accept-charset="UTF-8" action = "/FirstScreen">
			<div class="form-group">
		    	<label for="" class = "header">Username</label>
		    	<input class="form-control" id="" placeholder="" required>
			</div>
			<div class="form-group">
				<label for="" class = "header">Password</label>
		    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required>
		  	</div>
		  	<div class = "center">
		  		<button type="submit" class="btn btn-default" id = "submit">Submit</button>
		  	</div>
		</form>

		<div class = "center" style= "margin-top:50px;">
			
			
			
			For information about this system, contact Dr. Rosa Arriaga: <a href="mailto:arriaga@cc.gatech.edu">arriaga@cc.gatech.edu</a>

		</div>


	</div>

</body>
</html>