<!DOCTYPE html>
<html lang = "en">
<head>
    <% include partials/page/head.ejs %>
    <link rel = "stylesheet" href = "css/YellowZone.css">

	<script type="text/javascript">
	  var hours = 3;
	  var minutes = 59;
	  var timerButton = $("#timerYellow");
	  
	  
	  $("#timerYellow").on("click",setInterval(countDown()),1000);

	  
	  function countDown(){
		  minutes--;
		  $("#min").append("hey");
	  }
	  //startCountdown();
	</script>

</head>
<body>
	<!--modal start-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br />
			      </div>
			      <div class="modal-body">
			        <p>Take 2-4 puffs of albuterol every 4 hours, until symptoms are gone</p>
			        <img src="img/2-4 puffs.png" alt="albuterol" width="150" height="160">
			        <h1 id="time"><span id="hours">3</span> hours <span id="min">59</span> minutes</h1>
			        <div text="4" id="inputArea"></div>
			        <div id="timer">
                        	<ul>
                        	</ul>
                        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!--modal end-->
    <!-- just creates the nav bar -->
    <div class="page-wrapper">
        <% include partials/page/navbar.ejs %>

        <div class = "doctor">
            <img id = "med" src = "img/med.png">
            <span>Dr. Jodie Rodriguez - </span>
            <span class = "phonenumber">404 368 0896</span>
        </div>



        <div class = "container top" id = "body">
            <div class = "row" style = "padding:0px 5px">
                <div class = "col-xs-4">
                    <div class = "row">
                        <div class = "box greenBox" onclick = "goToGreenZone()">
                            <p class = "adjust">Green</p>
                        </div>
                    </div>
                </div>
                <div class = "col-xs-4">
                     <div class = "row">
                        <div class = "box yellowBox">
                            <p class = "adjust">Yellow</p>
                        </div>
                    </div>
                </div>
                <div class = "col-xs-4">
                    <div class = "row">
                        <div class = "box redBox" onclick = "goToRedZone()">
                            <p class = "adjust">Red</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "row top" id = "yellowInfo">
                <div class = "col-xs-4 center">
                    <img class = "imgGray1" src = "img/someCough.png">
                    <br>
                    <p>Some Cough</p>
                </div>
                 <div class = "col-xs-4 center">
                    <img class = "imgGray2" src = "img/Sneeze.png">
                    <br>
                    <p>Sneezing</p>

                </div>
                 <div class = "col-xs-4 center">
                    <img class = "imgGray3" src = "img/cantSleep.png">
                    <br>
                    <p>Can't sleep</p>
                </div>
              
            </div>

            <div class = "row top" id = "mainBox">
                <div class = "col-xs-10 medBox" id = "box1" onclick = "greenCheck()" style = "padding:0px">
                    <div class = "col-xs-6 alignCenter" id = "col1">
                        <button data-toggle="modal" data-target="#myModal" id="timerYellow">
                        	<img class = "firstPic" src = "img/yellowTimer1.png">
                        </button>
                        <br>
                        <br>
                        <span class = "hours">Every</span><br />
                        <span class = "bold textMed">4</span>
                        <span class = "textMed">Hours</span>
                    </div>

                    <div class = "col-xs-6 alignCenter" id = "col2">
                        <img class = "secondPic" style="width: 100%;height: 100%;margin-top: 30px;padding-bottom: 10px;" src="img/2-4 puffs.png">
                        <br>
                        <br>
                        <span class = "textMed">Albuterol</span><br />
                        <span class = "bold textMed">2-4 puffs</span>
                    </div>

                </div>
                <div class = "col-xs-1 moreArrow pull-right" id = "more" onclick = "goToMedPage()">
                    <div class = "row adjustArrow moreBox" style = "margin-top:50px;">
                        <img class = "arrowImage" src = "img/moreButtonGrey.png">
                        <div>
                            More
                        </div>
                    </div>

                </div>
            </div>
        

            <div class = "col-xs-10 row marginBottom shiftTop" id = "zones">
                
                    <div class = "col-xs-5 alignCenter pull-left">
                        <img src = "img/greenArrow.png">
                        <br>
                        <br>
                        <br>
                        <img src = "img/greenMan2.png">
                        <br>
                        <div class = "row dashedOrange shiftTop">
                            <p class = "textAvenir"> Continue Yellow Zone Meds</p>
                            <img class = "makeSmall"src = "img/albuterol.png">
                            <br>
                            <p class = "bold textAvenir">24 hours</p>
                        </div>
                        <div class = "row shiftTop dashedGreen">
                            <p class = "textAvenir"> Continue Green Zone Meds</p>
                            <img src = "img/Flovent-Disk.png">
                            <img src = "img/singulair1.png">

                        </div>
                    </div>
                    <div class = "col-xs-5 alignCenter pull-right">
                        <img src = "img/redArrow.png">
                        <br>
                        <br>
                        <br>
                        <img src = "img/redMan.png">
                        <div class = "row shiftTop">
                            <button class = "redBackground borderRadius" onclick = "goToRedZone()">
                                <p>Go To Red Zone</p>
                            </button>    
                        </div>
                    </div>
            </div>


            

            
        </div>
    </div>    



        
          <!-- Placed at the end of the document so the pages load faster -->
            <script src="startup/common-files/js/jquery-1.10.2.min.js"></script>
            <script src="startup/common-files/js/jquery.bxslider.min.js"></script>
            <script src="startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="startup/common-files/js/jquery.sharrre.min.js"></script>
            <script src="startup/flat-ui/js/bootstrap.min.js"></script>
            <script src="startup/common-files/js/masonry.pkgd.min.js"></script>
            <script src="startup/common-files/js/modernizr.custom.js"></script>
            <script src="startup/common-files/js/page-transitions.js"></script>
            <script src="startup/common-files/js/easing.min.js"></script>
            <script src="startup/common-files/js/jquery.svg.js"></script>
            <script src="startup/common-files/js/jquery.svganim.js"></script>
            <script src="startup/common-files/js/jquery.backgroundvideo.min.js"></script>
            <script src="startup/common-files/js/froogaloop.min.js"></script>
            <script src="startup/common-files/js/startup-kit.js"></script>
            <script src = "js/YellowZone.js"></script>
            
            
</body>
</html>