<header class="header-20">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/GreenZone">
                        Asthma Action Plan
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav">
                        <!-- <li><a href="#">Air Quality (Atlanta)</a></li>
                        <li><a href="#">Appointments</a></li>
                        <li><a href="#">Email Doctor</a></li>-->
                        <li><a href = "/FirstScreen">Calendar</a></li>
                        <li><a href="/Triggers">Trigger</a></li>
                        <li><a href = "/Notification">Notifications</a></li>
                        <li><a href = "/SendPlan">Send Plan</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>